global
  daemon
  maxconn 4096
  nbproc 2

defaults
  mode http
  balance roundrobin
  option http-server-close
  timeout connect     5s
  timeout client      30s
  timeout client-fin  30s
  timeout server      30s
  timeout tunnel      1h
  default-server inter 1s rise 2 fall 1 on-marked-down shutdown-sessions
  option forwardfor

listen chat
  bind *:843
  default_backend nodes

backend nodes
  option httpchk HEAD /health
  http-check expect status 200
  cookie serverid insert
  server master 192.168.0.101:8080  cookie master   check
  server node1  192.168.0.102:8080  cookie node1    check
  server node2  192.168.0.103:8080  cookie node1    check